{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit Recipe</h3>

<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">

        <!-- Recipe Category-->

        <div class="row">
            <div class="input-field col s12">                
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose your Category</option>
                    {% for category in categories %}
                    {% if category.category_name == recipe.category_name %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name"><i class="fas fa-concierge-bell light-blue-text text-darken-4 hide-on-small-only"></i> Recipe Category</label>
            </div>
        </div>

        <!--Name of the Recipe-->

        <div class="row">
            <div class="input-field col s12">                
                <input id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="500"
                    value="{{ recipe.recipe_name }}" class="validate" required>
                <label for="recipe_name"><i class="fas fa-utensils light-blue-text text-darken-4 hide-on-small-only"></i> Recipe Name</label>
            </div>
        </div>

        <!--Ingredients-->

        <div class="row">
            <div class="input-field col s12">
                <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5" maxlength="5000"
                    class="validate" required>
                        {{- recipe.recipe_ingredients -}}
                    </textarea>
                <label for="recipe_ingredients"><i class="fas fa-list-ol light-blue-text text-darken-4 hide-on-small-only"></i> List of Ingredients (type as list)</label>
            </div>
        </div>

        <!--Instructions-->

        <div class="row">
            <div class="input-field col s12">
                <textarea id="recipe_instructions" name="recipe_instructions" minlength="5" maxlength="5000"
                    class="validate" required>
                    {{- recipe.recipe_instructions -}}
                </textarea>
                <label for="recipe_instructions"><i class="fas fa-chalkboard-teacher light-blue-text text-darken-4 hide-on-small-only"></i> Instructions (type as list like Step 1,Step 2...)</label>
            </div>
        </div>

        <!-- Image URL-->

        <div class="row">
            <div class="input-field col s12">
                <input id="recipe_img" name="recipe_img" type="url" value="{{ recipe.recipe_img }}" minlength="5"
                    maxlength="300" class="validate" required>
                <label for="recipe_img"><i class="far fa-image light-blue-text text-darken-4 hide-on-small-only"></i> Paste your recipe image URL here</label>
            </div>
        </div>

        <!--Preperation, Cooktime and Serves-->

        <div class="row">
            <div class="input-field col s3">               
                <input id="prep_time" name="prep_time" type="number" value="{{ recipe.prep_time}}" min="0" max="120"
                    class="validate" required>
                <label for="prep_time"><i class="fas fa-hourglass light-blue-text text-darken-4 hide-on-small-only"></i> Preperation Time</label>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <input id="cook_time" name="cook_time" type="number" value="{{ recipe.cook_time}}" min="0" max="120"
                        class="validate" required>
                    <label for="cook_time"><i class="fab fa-gripfire light-blue-text text-darken-4 hide-on-small-only"></i> Cook Time</label>
                </div>
                <div class="input-field col s3">                    
                    <input id="serves" name="serves" type="number" value="{{ recipe.serves }}" min="1" max="100"
                        class="validate" required>
                    <label for="serves"><i class="fas fa-user-friends light-blue-text text-darken-4 hide-on-small-only"></i> Serves</label>
                </div>
            </div>
                <div class="row col s12">
                    <label for="created_by" id="created_by" name="created_by" type="name" disabled><i class="fas fa-user light-blue-text text-darken-4 hide-on-small-only"></i> Created by:</label> 
                    
                    <strong>{{ recipe.created_by }}</strong>
                    
                </div>
          
            <!--Submit Button-->

            <div class="row">
                <div class="col s12 center-align">
                    <!--Cancel all changes button-->
                    <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large white-text text-darken-4 text">
                        Edit Recipe <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>

    </form>
</div>

{% endblock %}