{% extends "base.html" %}
{% block content %}

    <!--Show recipe Heading-->

    <div class="row">
        <div class="col s12 center-align light-blue-text text-darken-4">
            <h2>{{ recipes.recipe_name }}</h2>
           <p><i class="fas fa-concierge-bell"></i> {{ recipes.category_name }}</p>
       </div>
   </div>

   <!-- Show Recipe Image row-->

   <div class="row">
     <div class="col s12 show-recipe-img center-align">
        <img src="{{ recipes.recipe_img }}" alt="image uploaded by user WRT the recipe">
    </div>
    </div>

    <!-- Show Recipe Prep, Cook and Serves row-->

    <div class="row">
       <div id ="total-time">
          <div class="col s4 center-align prep-time light-blue-text text-darken-4">
            <p><i class="fas fa-hourglass-start"></i> <strong>Prep:</strong> {{ recipes.prep_time }} min</p>
         </div>
          <div class="col s4 center-align cook-time light-blue-text text-darken-4">
            <p><i class="fab fa-gripfire"></i> <strong>Cook:</strong> {{ recipes.cook_time }} min</p>
         </div>
          <div class="col s4 center-align serves light-blue-text text-darken-4">
            <p><i class="fas fa-user-friends"></i> <strong>Serves:</strong> {{ recipes.serves }}</p>
           </div>
        </div>
    </div>

    <!-- Show Recipe  Ingredients and Instructions row-->


    <div class="row">
      <div class="col s4 m5">
        <div class="light-blue-text text-darken-4">
          <h6>Ingredients List : <i class="fas fa-tasks left hide-on-small-only"></i></h6>
          {% for ingredients in recipes.recipe_ingredients %}
            <p>{{- ingredients -}}</p>
          {% endfor %} 
        </div>
      </div>
     
        <div class="col s8 m5">
          <div class="light-blue-text text-darken-4">       
            <h6>Instructions : <i class="fas fa-chalkboard-teacher left hide-on-small-only"></i></h6>
            {% for instructions in recipes.recipe_instructions %}
              <p>{{- instructions -}}</p>
            {% endfor %}      
          </div>
        </div>
        </div>
    
  <!-- Edit and Delete row-->
        
  <div class="row edit-delete-btn-row"> 
    <div class="col s12 m12 center-align edit-delete-buttons">
      {% if session.user|lower == recipes.created_by|lower or session.user |lower == "admin"|lower %}  
        <a href="{{ url_for('edit_recipe', recipe_id=recipes._id) }}" class="btn-small green lighten-1">Edit<i class="fas fa-edit right"></i></a>  
        <a href="#modal1" class="btn-small red accent-4 del modal-trigger">Delete
        <i class="fas fa-times right"></i></a>      
      {% endif %}
    </div>     
  </div>

  <!-- Modal Structure from MaterializeCSS -->
  
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Do you want to delete <strong>{{ recipes.recipe_name }} recipe? </strong></h4>
        <p>Your recipe will be deleted from the page.</p>
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('delete_recipe', recipe_id=recipes._id) }}" 
          class="modal-close waves-effect waves-green btn-flat">Agree</a>
        <a href="" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>


{% endblock %}